[Desktop Entry]
Type=Application
Version=1.0
Name=ARX
GenericName=Arx Data Anonymization Tool
Comment=A comprehensive software for anonymizing sensitive personal data
Icon=org.deidentifier.arx
Exec=arx %U
Terminal=false
#MimeType=images
StartupNotify=true
Categories=Development;Science;Utility
Keywords=anonymization;k-anonymity;differential privacy